@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

//
// logo
//
@keyframes logoAni {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

//
// svg ani
//

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  margin-bottom: -7px;

  g {
    use {
      animation: waveAni 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
      fill: $white;

      &:nth-child(1) {
        opacity: 0.7;
        animation-delay: -2s;
        animation-duration: 7s;
      }
      &:nth-child(2) {
        opacity: 0.5;
        animation-delay: -3s;
        animation-duration: 10s;
      }
      &:nth-child(3) {
        opacity: 0.3;
        animation-delay: -4s;
        animation-duration: 13s;
      }
      &:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }
    }
  }
}

@keyframes waveAni {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
