// colors
$mainColor: #363062;
$black: #121212;
$white: #fff;

$logoColor: #4d4c7d;
$logoColor2: #827397;
$logoColor3: #e9d5da;

//
$easefive: all 0.5s ease;
$cubic: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
