//
// footer
//
footer {
  // @include flexbox;
  background-color: $white;
  @include widthSize($padTB: 2rem);

  form {
    max-width: 60%;
    margin: 0 auto;

    legend {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2em;
      letter-spacing: 0.4rem;
      padding: 2rem 0;
    }

    p {
      font-size: 1.4em;
      line-height: 2rem;
    }

    fieldset {
      width: 50%;
      padding: 2rem 0;
      margin: 0 auto;
      text-align: left;

      .input-box {
        @include flexbox($flexJC: space-between, $flexAC: flex-start);

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        label {
          width: 200px;
          font-size: 1rem;
          font-weight: 600;
        }

        input {
          @include contactForm;
        }

        textarea {
          @include contactForm;
        }
      }
    }
  }

  // copyright
  small {
    display: block;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid $black;
  }
}

#scrollTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
