//
// footer
//
footer {
  position: sticky;
  z-index: -1;
  bottom: 0;
  background-color: $white;
  @include widthSize($padTB: 2rem);

  form {
    max-width: 60%;
    margin: 0 auto;

    legend {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2em;
      letter-spacing: 0.4rem;
      padding: 2rem 0;
    }

    p {
      font-size: 1.4em;
      line-height: 2rem;
    }

    fieldset {
      padding: 2rem 0;
      text-align: left;

      .input-box {
        @include flexbox($flexJC: space-between, $flexAC: flex-start);

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        label {
          width: 200px;
          font-size: 1rem;
          font-weight: 600;
        }

        input {
          @include contactForm;
        }

        textarea {
          @include contactForm;
          height: 20vh;
          resize: none;
        }
      }
    }
  }

  // copyright
  small {
    display: block;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid $black;
  }
}

//
// floating navigation
//

.floating-nav {
  position: fixed;
  bottom: 10px;
  right: 10px;

  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 8px;
      }

      a {
        @include flexbox;
        position: relative;
        width: 50px;
        height: 50px;
        color: $white;
        border-radius: 50%;
        z-index: 1;

        &:hover .tooltip {
          opacity: 1;
        }

        .tooltip {
          background-color: $black;
          padding: 6px 8px 4px;
          border-radius: 4px;
          position: absolute;
          bottom: 30%;
          right: 120%;
          transition: $easefive;
          text-align: center;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 0.8rem;
          letter-spacing: 4px;
          opacity: 0;

          &::after {
            content: "";
            position: absolute;
            border-style: solid;
            border-width: 5px;
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-color: transparent transparent transparent $black;
          }
        }

        &.floating-nav__lang {
          background-color: $black;
        }

        &.floating-nav__mode {
          background-color: $black;

          .tooltip {
            bottom: 15%;
          }
        }

        &.floating-nav__top {
          background-color: $mainColor;
          opacity: 0;
        }
      }
    }
  }
}
