//
// footer
//
footer {
  position: sticky;
  z-index: -1;
  bottom: 0;
  background-color: $white;
  @include widthSize($padTB: 2rem);

  form {
    max-width: 60%;
    margin: 0 auto;

    legend {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2em;
      letter-spacing: 0.4rem;
      padding: 2rem 0;
    }

    p {
      font-size: 1.4em;
      line-height: 2rem;
    }

    fieldset {
      padding: 2rem 0;
      text-align: left;

      .input-box {
        @include flexbox($flexJC: space-between, $flexAC: flex-start);

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        label {
          width: 200px;
          font-size: 1rem;
          font-weight: 600;
        }

        input {
          @include contactForm;
        }

        textarea {
          @include contactForm;
          height: 20vh;
          resize: none;
        }
      }
    }
  }

  // copyright
  small {
    display: block;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid $black;
  }
}

//
// floating navigation
//

.floating-nav {
  position: fixed;
  bottom: 10px;
  right: 10px;

  .floating-nav__top {
    @include flexbox;
    background-color: $mainColor;
    color: $white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0;
    z-index: 1;
  }
}
