/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Hahmlet", serif;
  font-size: 1rem;
  font-weight: 400;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}

button {
  all: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  width: 100%;
  background-color: #121212;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #fff;
  border-radius: 6px;
  padding: 6px 10px 8px;
  font-size: 1.2rem;
}

button:hover {
  background-color: #363062;
}

img {
  vertical-align: bottom;
}

input,
textarea {
  font-family: "Hahmlet", serif;
  font-size: 1rem;
  font-weight: 400;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

@-webkit-keyframes logoAni {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes logoAni {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes logoCircle {}

@keyframes logoCircle {}header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 5;
}

header.fixed .main-navbar {
  padding: 1rem 2rem;
}

header .main-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  padding: 2rem;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
          backdrop-filter: saturate(180%) blur(15px);
}

header .main-navbar h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(64deg, #2c73d2, #538def, #656dc8, #8467bc, #9a62ad, #b15e8f, #009ce9, #00bedb, #8290bb, #a6abbd, #ff7b95, #db285e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 800% 200%;
  -webkit-animation: logoAni 10s linear infinite;
          animation: logoAni 10s linear infinite;
}

header .main-navbar h1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-navbar h1 a p {
  font-size: 3.2em;
  font-weight: bold;
}

header .main-navbar h1 a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3px;
}

header .main-navbar h1 a div span {
  font-weight: 900;
  font-size: 1.2em;
}

header .main-navbar h1 a div span:last-child {
  font-size: 1.4em;
}

header .main-navbar .hamburger-btn {
  font-size: 0;
  position: relative;
  width: 50px;
  height: 24px;
  cursor: pointer;
}

header .main-navbar .hamburger-btn::before, header .main-navbar .hamburger-btn::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #121212;
  position: absolute;
  right: 0;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

header .main-navbar .hamburger-btn::before {
  top: 0;
}

header .main-navbar .hamburger-btn::after {
  bottom: 0;
}

header .main-navbar .hamburger-btn.hamburger-btn-open::before {
  -webkit-transform: rotate(45deg) translate3d(0, -50%, 0);
          transform: rotate(45deg) translate3d(0, -50%, 0);
  top: 50%;
}

header .main-navbar .hamburger-btn.hamburger-btn-open::after {
  -webkit-transform: rotate(-45deg) translate3d(0, -50%, 0);
          transform: rotate(-45deg) translate3d(0, -50%, 0);
  bottom: 36%;
}

header .global-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: -5;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

header .global-nav.global-nav--open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

header .global-nav.global-nav--open .global-nav__list li a {
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

header .global-nav .global-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 2rem;
}

header .global-nav .global-nav__list li {
  display: block;
  font-size: 6em;
  width: 100%;
  border-bottom: 1px solid red;
  text-align: center;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

footer {
  position: -webkit-sticky;
  position: sticky;
  z-index: -1;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 0;
}

footer form {
  max-width: 60%;
  margin: 0 auto;
}

footer form legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.4rem;
  padding: 2rem 0;
}

footer form p {
  font-size: 1.4em;
  line-height: 2rem;
}

footer form fieldset {
  padding: 2rem 0;
  text-align: left;
}

footer form fieldset .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer form fieldset .input-box:not(:last-child) {
  margin-bottom: 10px;
}

footer form fieldset .input-box label {
  width: 200px;
  font-size: 1rem;
  font-weight: 600;
}

footer form fieldset .input-box input {
  width: 100%;
  border: 1px solid #121212;
  padding: 6px;
  font-size: 1rem;
  border-radius: 6px;
}

footer form fieldset .input-box textarea {
  width: 100%;
  border: 1px solid #121212;
  padding: 6px;
  font-size: 1rem;
  border-radius: 6px;
  height: 20vh;
  resize: none;
}

footer small {
  display: block;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #121212;
}

#scrollTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #363062;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.eng {
  font-family: "Raleway", sans-serif;
}

.cursor {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  z-index: 999999;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cursor.cursor__first {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
}

.cursor.cursor__first.cursor__link {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.cursor.cursor__second {
  width: 3rem;
  height: 3rem;
  border: 2px solid #fff;
}

.cursor.cursor__second.cursor__link {
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  background-color: #fff;
  -webkit-transform: scale(2);
          transform: scale(2);
}

main {
  background-color: #121212;
  color: #fff;
}

main a {
  display: block;
  color: #fff;
  padding: 2rem;
}

::-moz-selection {
  background-color: #121212;
  color: #fff;
}

::selection {
  background-color: #121212;
  color: #fff;
}

html,
.comment-container .comment-output-container,
textarea {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar,
.comment-container .comment-output-container::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track,
.comment-container .comment-output-container::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb,
.comment-container .comment-output-container::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border-left: 0;
  border-right: 0;
  background-color: #121212;
}
